
.upper-bg {
    height: 100px;
    background-color: #126936; /* Green color */
    background: linear-gradient(to right, #126936, #063d07); /* Gradient from Darker green to Green */
  }
  img {
    max-width: 70%;
    max-height: 60%;
  }
  .exit-button {
    position: relative;
    top:5%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom:1%;
    background-color: #ff6347; /* Red color for the button */
    color: #000000; /* White text color */
    border: none;
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    font-weight: bolder;
  }
  .exit-button:hover {
    background-color: #cc4738; /* Darker red color on hover */
  
  }

  .bot-button {
    position: relative;
    top:5%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom:1%;
    background-color: #ff6347; /* Red color for the button */
    color: #000000; /* White text color */
    border: none;
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    font-weight: bolder;
  }
  .bot-button:hover {
    background-color: #cc4738; /* Darker red color on hover */
  
  }

  .modal-center {
    position: absolute;
    top: 22%;
    left: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 40%;
}

.modal-content {
    text-align: center;
}

.modal-back-button {
  position: absolute;
  top: 0;
  left: 0;
}