/* Table Styles */
.table {
    position: fixed;
    top: 17%;
    left: 19%;
    height: 74%;
    width: 63%;
    background-image: url(../assets/emptyTable.png);
    background-size: cover; /* Added to make the image cover the entire div */
}
/* Player Styles */
.player {
    position: relative;
    width: 15%;
    height: 10%;
}

.players {
    position: relative;
    height: 100%;
    width: 100%;
}

.player-cards {
    position: absolute;
}

/* RandomCard Styles */
.RandomCard {
    margin-top: 16%;
    margin-left: 4%;
    position: relative;
    display: flex;
    width: 100%;
}

.RandomCard .right {
    position: relative;
    transform: rotate(10deg);
    top: 0%;
}

.RandomCard .left {
    position: relative;
    transform: rotate(30deg);
    left: -43%;
}

/* Player-specific Card Styles */
.player1 {
    position: absolute;
    left: 13%;
    top: 12%;
}

.player2 {
    position: absolute;
    left: 77%;
    top: 12%
}

.player3 {
    position: absolute;
    left: 77%;
    top: 53%;
}

.player4 {
    position: absolute;
    top:53%;
    left: 13%;
}

.our-player {
    position: fixed;
    top: 70%;
    left: 40%;
    width: 15%;
    height: 15%;
}

/* Card Styles */
.card {
    width: 100%;
    height: 100%;
}

.hidden-cards {
    position: relative;
    width: 100%;
    top: 20%;
    left: -12%;
}

.our-hidden-cards {
    position: relative;
    width: 20%;
    top: 20%;
}

.our-cards {
    position: relative;
}

/* Action Button Styles */
.action-button {
    position: relative;
    top: 5%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #ff6347;
    color: #000000;
    border: none;
    padding: 10% 20%;
    font-size: 100%;
    border-radius: 4%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bolder;
}

.exit-button:hover {
    background-color: #cc4738;
}

/* Action Container Styles */
.action-container {
    position: relative;
    top: -125%;
    left: 80%;
}

/* Image Styles */
.card-img {
    max-width: 100%;
    max-height: 100%;
}

.table-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Background Styles */
.upper-bg {
    height: 100%;
    background-color: #126936;
    background: linear-gradient(to right, #126936, #063d07);
}

/* General Styles */


.exit-button {
    position: relative;
    top: 5%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #ff6347;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bolder;
}

.exit-button:hover {
    background-color: #cc4738;
}
.dealer-img {
    border-radius: 50%;
    position: absolute;
    left: 45%;
    height: 30%;
    width: 13%;
    top: -10%;
    border: 2px solid black; /* Add a 2px black border */
    /* Add any additional styling as needed */
}

.form{
    /* i want it to be center of the screen */
    position: absolute;
    left: 22%;
    top: 8%

}
.modal-back-button{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff6347;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bolder;
}
/* Add this CSS to your stylesheet */
.enter-button {
    display: block;
    margin: 1% auto; /* Center the button horizontally with a 1% margin on top and bottom */
    background-color: #d6dc1d;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bolder;
  }
  
  .enter-button:hover {
    background-color: #515609;
  }
  .modal-content{
    height: 40%;
    width: 40%;
  }

  .cards-on-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .card-slot {
    width: 69px;
    height: 100px;
    background-color: white;
  }

  .card-slot img {
    max-width: 100%;
    max-height: 100%;
}

.empty-card-slot {
    width: 69px;
    height: 100px;
    background-color: rgba(93,183,121,255);
}

.player-name {
    color: azure;
    font-weight: bold;
}