/* table.css */

.table {
    position: absolute;
    top: 35%;
    left: 57%;
    height: 45%;
    width: 85%;
    transform: translate(-50%, -50%);
}

.player {
    /* Your player styles */
    /* Example: */
    width: 25%;
    height: 10%;
}

.players {
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 70%;
}

.player-cards {
    position: absolute;
}

/* Apply styling for the RandomCard components */
.RandomCard {
    /* Your RandomCard styles */
    /* Example: */
    position: relative;
    display: flex;
    width: 100%; /* Adjust width as needed */

}

/* Apply styles for positioning right and left */
.RandomCard .right {
    position: relative;
    transform: rotate(10deg);
    top:0%;
}

.RandomCard .left {
    position: relative;
    transform: rotate(50deg);
    left: -43%;

}

/* Additional styles for each player's cards */
.player1 {
    position: relative;
    left: 15%; /* Adjust the left position for the first player */
    top:12%;
}

.player2{
    position: relative;
    left: 75%; /* Adjust the left position for the second player */
    top:2%;
}

.player3 {
    position: relative;
    left: 75%; /* Adjust the left position for the third player */
    top:23%;
}

.player4{
    position: relative;
    top:12%;
    left: 13%; /* Adjust the left position for the fourth player */
}


/* Set a fixed size for the cards */
.card {
    width: 100px; /* Adjust the card width as needed */
    height: 150px; /* Adjust the card height as needed */
}

.hidden-cards {
    position: relative;

    width: 55%; /* Set the same size as the visible cards */
    top:20%;
}
