/* RangeInput.css */
.range-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .range-input {
    width: 150px;
    color: aliceblue;
  }
  @media (max-width: 768px) {
    .range-input {
      width: 100px;
    }
  }
  
  .range-value {
    font-size: 1.2em;
    font-weight: bold;
    color: aliceblue;
  }
  