/* RangeInput.css */
.range-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .range-input {
    width: 200px;
    color: aliceblue;
  }
  
  .range-value {
    font-size: 1.2em;
    font-weight: bold;
    color: aliceblue;
  }
  