/* src/app.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7E8D1; 
}

.upper-bg {
  height: 100px;
  background-color: #E7E8D1; 

}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%; /* Adjusted width to take up half of the container */
  height: 70%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px 20px; /* Adjusted margin to add space */
  font-family: 'Roboto', sans-serif;
  color: white; /* Added white text color */
  background-color: #A7BEAE; 

}

.form-container-lobby {
  padding-top: 1%;
  justify-content:start;
}

.form-container-extention {
  width: 100%;
  height: 80%;
}

.reg-head {
  font-size: 44px;
  position: relative;
  color: white; /* Changed text color to white */
}

.form-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: white; /* Changed text color to white */
}

.confirm-password-container {
  position: relative;
  width: 28%; /* Adjusted width for confirm password container */
  margin-bottom: 1rem;
  left: -1.5%;
}


.our-btn {
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom:1%;
  background-color: #B85042; /* Red color for the button */
  color: #000000; /* White text color */
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
  font-weight: bolder;
  color: #ffffff; /* White text color */
}

.our-btn:hover {
  background-color: #A95042; /* Darker red color on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.text-secondary {
  color: #000; /* Black text color */
}

.btn-link {
  background-color: transparent;
  border: none;
  color: #0d3446; /* Darker blue link color */
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
}

.btn-link:hover {
  color: #14232b; /* Slightly darker blue on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.image-container {
  width: 50%; /* Adjusted width to take up half of the container */
  height: 100%;
  overflow: hidden; /* Ensure the image does not exceed the container */
}

.logo-image {
  width: 77%; /* Make the image fill the entire container */
  height: 61%;
  position: relative;
  top: 25%;
  object-fit: cover; /* Preserve the aspect ratio and cover the container */
  border-radius: 0 8px 8px 0; /* Optional: Add rounded corners to the right side */
}

.mp-4{
  margin-top: 3%;
}
.mb-5{
  position: relative;
  height: 50%;
  height:fit-content ;
}
.lobby-table {
  width: 100%;
  font-size: 110%;
  margin: 0 auto; /* Center the container horizontally */
}

.lobby-table table {
  width: 100%; /* Spread table to full width of parent */
  border-collapse: collapse;
}

.lobby-table th, .lobby-table td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.lobby-table th:last-child, .lobby-table td:last-child {
  text-align: center;
}

.exit-button {
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom:1%;
  background-color: #ff6347; /* Red color for the button */
  color: #FFFFFF; /* White text color */
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  font-weight: bolder;
}
.money-amount {
  position: relative;
  left: 75%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom:1%;
  background-color: #B85042; /* Blue color for the button */
  color: #000000; /* White text color */
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
  font-weight: bolder;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for a 3D effect */ 
}

.add-money {
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  background-color: #B85042; /* Blue color for the button */
  color: #ffffff; /* White text color */
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
  font-weight: bolder;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for a 3D effect */
}
.add-money:hover {
  background-color: #A95042; /* Darker blue color on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.refresh-button {
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  background-color: #B85042; /* Blue color for the button */
  color: #ffffff; /* White text color */
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
  font-weight: bolder;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for a 3D effect */
}
.refresh-button:hover {
  background-color: #B85042; /* Darker blue color on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.statistics-btn {
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  background-color: #B85042; /* Orange color for the button */
  color: #ffffff; /* White text color */
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
  font-weight: bolder;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for a 3D effect */
}
.statistics-btn:hover {
  background-color: #A95042; /* Darker orange color on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}


.exit-button:hover {
  background-color: #cc4738; /* Darker red color on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.add-table-btn {
  background-color: #B85042; /* Brown background color */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove border */
  border-radius: 5px; /* Add rounded corners */
  font-size: 16px; /* Adjust font size */
  cursor: pointer; /* Show pointer cursor on hover */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
  font-weight: bolder;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for a 3D effect */
}

.add-table-btn:hover {
  background-color: #A95042; /* Slight change in brown on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.required {
  color: red; /* Set the color of the asterisk to red */
}

.tr-button {
  background-color: #B85042;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bolder;
}

.tr-button:hover {
  background-color: #A95042;
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.tr-button:focus {
  outline: none;
}

.login-buttons {
  width: 31%;
}

.login-btn {
  margin-left: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  background-color: #B85042; 
  color: #ffffff; /* White text color */
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
  font-weight: bolder;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for a 3D effect */
}

.login-btn:hover {
  background-color: #A95042; 
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.leaderboard-btn {
  margin: 2%;
  background-color: #B85042; /* Gold color for the button */
  color: #ffffff; /* White text color */
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
  font-weight: bolder;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for a 3D effect */
}

.leaderboard-btn:hover {
  background-color: #A95042; /* Slightly lighter gold color on hover */
  transform: scale(1.05); /* Slight zoom effect on hover */
}
.number-btn{
  position: relative;
  width: 108%;
}
.stat-text {
  font-size: 120%;
  font-weight:normal;
  text-align: center;
  font-family: 'Arial', sans-serif; /* You can change this to any font you prefer */
}

.stat-head {
  font-size: 180%;
  font-family: 'Georgia', serif; /* You can change this to any font you prefer */
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}
.not-reg{
  position: relative;
  font-size: 110%;
  top:1%;
  color: rgb(154, 125, 189);
  font-family: 'Georgia', serif; /* You can change this to any font you prefer */
  text-decoration: underline;
  font-weight:normal;
  text-align: center;
}
.amm{
  font-size: 30px;
}
.form-control {
  font-size: 140%; /* Increase font size */
  color: #000000;
  padding: 10px; /* Increase padding */
  width: 100%; /* Optional: Make the width 100% of the container */
  max-width: 400px; /* Optional: Set a max-width */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}